{
    "ignore": [
        "**/__tests__", // ignore the whole test directory
        "**/*.test.js" // ignore test files only
    ],
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["@babel/transform-runtime"]
    ]
}